@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* Text color */
  --background-glass-rgb: 180, 210, 230; /* Glass color */
  height: 100%;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(
    var(--background-glass-rgb),
    0.8
  ); /* Glass Color with Opacity */
  z-index: -1;
  backdrop-filter: blur(10px); /* Frosted Glass Effect */
}

body {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8),
    /* Lighter Shade of White */ rgba(var(--background-glass-rgb), 1)
      /* Glass Color */
  );
  color: rgb(var(--foreground-rgb));
}
