/* Import Tailwind CSS styles */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom styles */
:root {
  --foreground-rgb: 0, 0, 0; /* Text color */
  --background-rgb: 240, 240, 240; /* Background color */
  --background-glass-rgb: 211, 208, 203; /* Glass color */
}

body {
  background-image: linear-gradient(
    to right top,
    #ffffff,
    #f4f4f4,
    #eae9ea,
    #e0dede,
    #d6d3d3
  );
}

